<div class="container-fluid">
    <div class="row info-row">
        <div class="wrapper-borderleft me-3"></div>
        <div class="col">
            <div class="index-header-info">
                About
            </div>
            <div class="index-info">
                <div class="mb-2">
                    My name is Olga and I am a Software Engineer based in Winnipeg, Canada.
                    I moved to Canada in 2022 and I feel incredibly grateful to have the opportunity to continue my
                    career here.
                    I am extremely passionate about development, and I have been learning it since the year 2018.
                </div>
                <div>
                    I believe that the key to success in any field is adaptability, willingness to new experiences, and
                    invest in oneself.
                    I am confident that I can make a positive contribution to the development industry here.
                </div>
            </div>
        </div>
    </div>
</div>