<div class="index-header-info">
    About me
</div>
<div class="index-info">
    My name is Olga and I am a Software Engineer based in Winnipeg, Canada. 
    I moved to Canada in 2022 and I feel incredibly grateful to have the opportunity to continue my career here. 
    I believe that the key to success in any field is adaptability, willingness to new experiences and challenges, and invest in oneself.
    I am confident that I can make a positive contribution to the development industry here.
</div>