<div class="index-header-info">
    Education
</div>
<div class="index-info">
    <div class="university fw-semibold mb-2">Novosibirsk National Research State University</div>
    <div class="container-fluid">
        <div class="row justify-content-evenly mb-2">
            <div class="col-8">M.S. in mechanics and mathematical modeling </div>
            <small class="col-4 text-end orange-color">2016-2018</small>
        </div>
        <div class="row justify-content-evenly">
            <div class="col-8">B.S. in mathematics and computer science </div>
            <small class="col-4 text-end orange-color">2012-2016</small>
        </div>
    </div>
</div>