<footer class="footer mt-auto">
    <div class="container-fluid py-3 text-center">
        <div><span class="">Copyright &copy; Olga Bovkun <%= new Date().getFullYear() %></span></div>
        <div class="mt-2">
            <a href="https://www.facebook.com/olya.bovkun" target=”_blank”><h3 class="me-3 d-inline"><i class="bi bi-facebook"></i></h3></a>
            <a href="https://www.linkedin.com/in/olyabovkun/" target=”_blank”><h3 class="me-3 d-inline"><i class="bi bi-linkedin"></i></h3></a>
            <a href="https://github.com/orb48" target=”_blank”><h3 class="me-3 d-inline"><i class="bi bi-github"></i></h3></a>
            <a href="mailto:orbovkun@gmail.com"><h3 class="d-inline"><i class="bi bi-envelope"></i></h3></a>
        </div>
    </div>
</footer>