<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="" href="/">
            <div class="container">
                <img class="brand-image" src="/img/logo-no-background.svg" alt="">
            </div>

        </a>
        <a class="collapse-button navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <div class=""></div>
            <div class=""></div>
            <div class=""></div>
        </a>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link navbar-link navlink me-4" href="/">About</a>
                <a class="nav-link navbar-link navlink me-4" href="/experience">experience</a>
                <a class="nav-link navbar-link navlink me-4" href="/portfolio">portfolio</a>
                <a class="nav-link navbar-link navlink" href="/contact">Contact</a>
            </div>

        </div>
    </div>
</nav>