<div class="container-fluid">
    <div class="row info-row">
        <div class="wrapper-borderleft me-3"></div>
        <div class="col">
            <div class="index-header-info">
                Skills
            </div>
            <div class="index-info">
                <div class="wrapper-unorder-list">
                    <ul class="unorder-list">
                        <li><span>Java</span></li>
                        <li><span>OOP</span></li>
                        <li><span>Spring</span></li>
                        <li><span>Hibernate</span></li>
                        <li><span>SQL</span></li>
                        <li><span>PostgreSQL</span></li>
                        <li><span>MongoDB</span></li>
                        <li><span>Apache Kafka</span></li>
                        <li><span>Elasticsearch</span></li>
                        <li><span>Docker</span></li>
                        <li><span>Kubernetes</span></li>
                        <li><span>HTML</span></li>
                        <li><span>CSS</span></li>
                        <li><span>JavaScript</span></li>
                        <li><span>TypeScript</span></li>
                        <li><span>Bootstrap</span></li>
                        <li><span>Angular</span></li>
                        <li><span>NodeJS</span></li>
                        <li><span>AWS</span></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>