<div class="index-header-info">
    Skills
</div>
<div class="index-info">
    <div class="wrapper-unorder-list">
        <ul class="unorder-list">
            <li class="professional-experience">Java</li>
            <li class="professional-experience">Object-Oriented Programming (OOP)</li>
            <li class="professional-experience">Spring Framework</li>
            <li class="professional-experience">Spring Boot</li>
            <li class="professional-experience">Hibernate</li>
            <li class="professional-experience">SQL</li>
            <li class="professional-experience">PostgreSQL</li>
            <li class="professional-experience">MongoDB</li>
            <li class="professional-experience">Apache Kafka</li>
            <li class="professional-experience">Elasticsearch</li>
            <li class="professional-experience">Docker</li>
            <li class="professional-experience">Kubernetes</li>
            <li class="professional-experience">HTML</li>
            <li class="professional-experience">CSS</li>
            <li class="professional-experience">JavaScript</li>
            <li class="professional-experience">TypeScript</li>
            <li class="professional-experience">Bootstrap</li>
            <li class="professional-experience">Angular</li>
            <li class="non-professional-experience">NodeJS</li>
            <li class="non-professional-experience">AWS</li> 
        </ul>
    </div>
</div>
<div class="skills-list-remark text-muted">
    <span class="green-color"> &FilledVerySmallSquare; </span>  - professional experience; 
    <span class="orange-color"> &FilledVerySmallSquare; </span> - non-professional experience; 
</div>