<div class="index-header-info">
    Skills
</div>
<div class="index-info">
    <div class="wrapper-unorder-list">
        <ul class="unorder-list">
            <li class="professional-experience"><span>Java</span></li>
            <li class="professional-experience"><span>Object-Oriented Programming (OOP)</span></li>
            <li class="professional-experience"><span>Spring Framework</span></li>
            <li class="professional-experience"><span>Spring Boot</span></li>
            <li class="professional-experience"><span>Hibernate</span></li>
            <li class="professional-experience"><span>SQL</span></li>
            <li class="professional-experience"><span>PostgreSQL</span></li>
            <li class="professional-experience"><span>MongoDB</span></li>
            <li class="professional-experience"><span>Apache Kafka</span></li>
            <li class="professional-experience"><span>Elasticsearch</span></li>
            <li class="professional-experience"><span>Docker</span></li>
            <li class="professional-experience"><span>Kubernetes</span></li>
            <li class="professional-experience"><span>HTML</span></li>
            <li class="professional-experience"><span>CSS</span></li>
            <li class="professional-experience"><span>JavaScript</span></li>
            <li class="professional-experience"><span>TypeScript</span></li>
            <li class="professional-experience"><span>Bootstrap</span></li>
            <li class="professional-experience"><span>Angular</span></li>
            <li class="professional-experience"><span>NodeJS</span></li>
            <li class="professional-experience"><span>AWS</span></li> 
        </ul>
    </div>
</div>
<!-- <div class="skills-list-remark text-muted"> -->
    <!-- <span class="green-color"> &FilledVerySmallSquare; </span>  - professional experience;  -->
    <!-- <span class="orange-color"> &FilledVerySmallSquare; </span> - non-professional experience;  -->
<!-- </div> -->