
<div>
    <div class="project-name orange-color">
        For insurance company
    </div>
    <div class="project-description text-muted">
        Solutions that consists of a mobile and web application that inspects a car after an accident. 
        Employee inspect the car and add in the mobile app some defects, then underwriter works with this in a web application and makes a decision about insurance coverage. 
    </div>
</div>

<div>
    <div class="project-name orange-color">
        For merchandising managers
    </div>
    <div class="project-description text-muted">
        Mobile and web application for merchandising managers. Web application for supervisors, managers to control distribution quality and manage the route for merchendisers.
        Mobile application mostly for merchendisers who work on outlets. They visit outlets by the route that was formed by supervisors.
    </div>
</div>

<div>
    <div class="project-name orange-color">
        For insurance company
    </div>
    <div class="project-description text-muted">
        Solution similar as for Alfa insurance company but had more coverage, not only car accidents. I developed frontend application for role-based access control management. 
        Admit manages who has access to different components of the product.
    </div>
</div>

<div>
    <div class="project-name orange-color">
        For airline
    </div>
    <div class="project-description text-muted">
        Web platform for economists (accounter + analytics). Transactions on each ticket are collected from various agents and form a merge entity with which the economist works. Then economist conducts budget reconciliation and generates different types of reports
    </div>
</div>

