
<div>
    <div class="project-name red-color">
        For insurance company
    </div>
    <div class="project-description text-muted">
        I worked on two projects with similar functionality. Both projects involved developing web applications for inspecting cars after accidents and determining insurance coverage. 
        In one of these projects, I was responsible for developing the backend of the underwriter platform, while in the other project, I worked on the frontend of the role-based access control management.
    </div>
</div>

<div>
    <div class="project-name red-color">
        For merchandising managers
    </div>
    <div class="project-description text-muted">
        This project was for a company aimed at improving the merchandising process by providing a comprehensive web application.
         This solution was designed to cater to the different needs of the entire merchandising team, including managers, supervisors, and merchandisers. 
         I was responsible for the development of the web application (both backend and frontend) that enabled supervisors and managers to have complete control over the quality of distribution and effectively manage the routes for merchandisers. 
         I led the development of a significant feature from the initial requirements gathering phase through to deployment, and managed all aspects of the development lifecycle.
    </div>
</div>

<div>
    <div class="project-name red-color">
        For airline company
    </div>
    <div class="project-description text-muted">
        A high-load web application with microservices architecture was designed for economists, providing a comprehensive suite of accounting and analytics tools. The project handles over 80,000 transactions daily, which are sourced from multiple agents for each ticket.
        The user works with this merged entity. Subsequently, the economist performs budget reconciliation and generates various reports to identify mistakes and reduce discrepancies in the budget.
        My responsibilities include leading a huge part of the backend and frontend development, mentoring developers, leading architecture decision-making, and ensuring software quality and performance.
    </div>
</div>

