<% layout('layouts/boilerplate') %>
    <div class="container-md mt-5">
        <div class="container-fluid">
            <div class="row align-items-center mb-md-5 mb-4">
                <div class="col-8 px-0">
                    <h1 class="display-3 index-header text-start">Experience</h1>
                </div>
                <div class="col-4 px-0 text-end red-color">
                    <button class="btn download-cv">Download CV</button>
                </div>

            </div>
        </div>

        <%-include('experience/skipthedishes')%>

        <%-include('experience/trueengineering')%>

        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div id="liveToast" class="toast text-bg-danger text-light" role="alert" aria-live="assertive"
                aria-atomic="true">
                <div class="d-flex" data-bs-theme="dark">
                    <div class="toast-body">
                        <span id="error-message"></span>
                    </div>
                    <button type="button" class="btn-close me-2 m-auto text-light" data-bs-dismiss="toast"
                        aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>


    <script src="../js/experience.js"></script>