<% layout('layouts/boilerplate') %>
    <div class="container-md mt-5">
        <div class="container-fluid">
            <div class="row align-items-center mb-md-5 mb-4">
                <div class="col-8 px-0">
                    <h1 class="display-3 index-header text-start">Experience</h1>
                </div>
                <div class="col-4 px-0 text-end red-color">
                    <button class="btn download-cv">Download CV</button>
                </div>

            </div>

        </div>

        <div class="container-fluid mb-md-3 mb-2">
            <div class="row justify-content-evenly align-items-center">
                <div class="col-6 px-0 company-name fw-semibold">True Engineering</div>
                <small class="col-6 px-0 text-end red-color">Aug 2018 - June 2022</small>
            </div>
            <div class="row">
                <div class="col px-0 position text-muted">Senior Software Engineer</div>
            </div>
        </div>

        <div class="index-info mb-2">
            I started my career at a company based in Novosibirsk, Russia, where I worked for four years.
            I made significant progress in my career there, transitioning from a Junior to a Senior position.
            During my time there, I had the opportunity to work on a variety of projects, 
            including compact monolithic systems and a high-load web application developed using microservices architecture.
            I gained considerable experience in these projects in both backend and frontend technologies.
        </div>
        <div class="mb-md-3 mb-2">
                    <div class="index-experience-learn-more text-muted">
            <div id="expand-icon" class="d-inline-block"><i class="bi bi-chevron-double-right"></i></div>
            <div class="d-inline-block"> Expand to learn more about projects</div>
        </div>
        <div class="wrapper-project-info ms-4 d-none index-info">
            <%-include('partials/work-projects')%>
        </div>
        </div>


        <div class="wrapper-info pe-3 mb-md-4 mb-3">
            <div class="index-header-info mb-md-3 mb-2">
                Project Impact
            </div>
            <div class="index-info">
                <ul class="unorder-list-style-disc">
                    <li class="professional-experience">
                        <span>Led the development of a high-load enterprise web application for one of the largest
                            private airlines with over 80 000 transactions per day within a year;
                        </span>
                    </li>
                    <li class="professional-experience">
                        <span>Reduced developer involvement in resolving client issues by developing a user interface
                            that displays corporate client balance changes;
                        </span>
                    </li>
                    <li class="professional-experience">
                        <span>Improved report generation speed for two reports, achieving a 34% improvement by
                            implementing elasticsearch aggregation, and a 60% improvement by developing a dedicated
                            microservice;
                        </span>
                    </li>
                    <li class="professional-experience">
                        <span>Processed data from various sources using technologies like
                            Kafka, SOAP, SMTP, SMB, and FTP;
                        </span>
                    </li>
                    <li class="professional-experience">
                        <span>Implemented project and infrastructure documentation, that
                            improved team productivity and reduced the time required for onboarding new hires;
                        </span>
                    </li>
                    <li class="professional-experience">
                        <span>Participated in the entire software development life
                            cycle, starting from getting requirements and creating user stories, 
                            and up to leading release test processes;
                        </span>
                    </li>
                    <li class="professional-experience">
                        <span>Developed a front-end Angular application from scratch for
                            role-based access control management;
                        </span>
                    </li>
                    <li class="professional-experience">
                        <span>Developed a Spring Boot application from scratch for
                            property insurance calculation;
                        </span>
                    </li>
                    <li class="professional-experience">
                        <span>Mentored Junior Java developers, leading to their
                            achieving middle-level proficiency within a year.
                        </span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="wrapper-info pe-3 mb-md-4 mb-3">
            <div class="index-header-info mb-md-3 mb-2">
                Responsibilities
            </div>
            <div class="index-info">
                <ul class="unorder-list-style-disc">
                    <li class="professional-experience"><span>Leading the development of web-applications;</span></li>
                    <li class="professional-experience"><span>Writing and maintaining technical documentation, including
                            user manuals and system documentation;</span></li>
                    <li class="professional-experience"><span>Designing and implementing scalable and efficient
                            solutions that meet the requirements of the project;</span></li>
                    <li class="professional-experience"><span>Prioritizing and assigning tasks among teammates;</span>
                    </li>
                    <li class="professional-experience"><span>Creating new features and fixing bugs with test
                            coverage;</span></li>
                    <li class="professional-experience"><span>Assisting and resolving client issues;</span></li>
                    <li class="professional-experience"><span>Maintaining and improving the current code base;</span>
                    </li>
                    <li class="professional-experience"><span>Participating in code reviews;</span></li>
                    <li class="professional-experience"><span>Evaluate and decompose tasks;</span></li>
                    <li class="professional-experience"><span>Collaborating with cross-functional teams, including
                            designers, product managers, and other developers;</span></li>
                    <li class="professional-experience"><span>Mentoring Junior developers.</span></li>
                </ul>
            </div>
        </div>

        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div id="liveToast" class="toast text-bg-danger text-light" role="alert" aria-live="assertive"
                aria-atomic="true">
                <div class="d-flex" data-bs-theme="dark">
                    <div class="toast-body">
                        <span id="error-message"></span>
                    </div>
                    <button type="button" class="btn-close me-2 m-auto text-light" data-bs-dismiss="toast"
                        aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>


    <script src="../js/experience.js"></script>