<% layout('layouts/boilerplate') %>
    <div class="container-md index-main">
        <div class="row align-items-center justify-content-center">
            <!-- <div class="col-md-5 img px-0"> -->
                <!-- <img class="img-fluid rounded" src="img/Set_of_programmers_02_01.jpg" alt=""> -->
            <!-- </div> -->
            <div class="col px-0">
                <div class="container-fluid">
                    <div class="row px-0">
                        <h1 class="display-3 index-header text-center">Java/Full-Stack Developer</h1>
                    </div>
                    <!-- <div class="row px-0"><span class="text-center index-header-description">(Java, Angular)</span></div> -->
                    <div class="mt-3 row justify-content-center">
                        <div class="index-subheader text-center">Hi, I'm Olga! Nice to meet you!</div>
                    </div>
                </div>
                
            </div>
        </div>
        <div>
            <div class="wrapper-info mb-5 px-3">
                <%-include('partials/about')%>
            </div>
            <div class="wrapper-info mb-5 px-3 justify-content-center">
                <%-include('partials/skills')%>
            </div>
            <div class="wrapper-info mb-5 px-3">
                <%-include('partials/education')%>
            </div>
        </div>
    </div>