.green-color {
    color: #2d805c;
}

.orange-color {
    color: #FCA311;
}

.red-color {
    color: #771011;
}

.navbar-link {
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 200;
    color: #221712;
    font-family: 'Roboto', sans-serif;
}

.main-brand {
    display: inline-block;
}

.brand-image {
    height: 50px;
}

.brand-text {
    display: inline-block;
    text-transform: uppercase;
    color: #2d805c;
    font-weight: 400;
    font-size: 1.5em;
}

.brand:nth-child(2n+1) {
    height: 23px;
}

.brand:nth-child(3n+1) {
    height: 26px;
}

.navlink:hover {
    color: #771011;
    transition: color 0.5s ease;
}

.navlink:active {
    color: #771011;
}


.collapse-button {
    width: 50px;
    border: none;
}

.collapse-button div {
    background: #771011;
    height: 4px;
    border-radius: 25px;
    margin: 5px 0;
}

.collapse-button:hover {
    cursor: pointer;
}

nav {
    border-bottom: 1px solid #F1EFEF;
}

body {
    height: 100vh;
    font-family: Roboto;
}

.footer {
    background-color: #F9F9F9;
    border-radius: 50px;
}

.link-style {
    color: #7b7b7b;
}

.footer a:hover {
    color: #585858;
    cursor: pointer;
}

.footer-text {
    color: #221712;
    font-weight: 200;
}

a {
    text-decoration: none;
}

@keyframes animate {
    0% {
        background-position: 0 30%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 30%;
    }
}

/* index page */

.index-header-name {
    color: #221712;
    font-family: "RocknRoll One";
    font-size: 2.3em;
    font-style: normal;
    font-weight: 400;
}

.index-header {
    color: #771011;
    font-family: "RocknRoll One";
    font-size: 65px;
    font-style: normal;
    font-weight: 400;
}

.index-subheader {
    font-weight: 300;
    color: #221712;
    font-family: Roboto;
    font-size: 1em;
    font-style: normal;
    line-height: 30px;
}

main.main-index {
    max-width: 70vw;
}

.index-info {
    font-weight: 300;
    color: #221712;
    font-family: Roboto;
    font-style: normal;
    line-height: 30px;
    font-size: 1em;
}

.index-header-info {
    color: #771011;
    font-size: 1.3em;
    font-family: "RocknRoll One";
}

div.wrapper-borderleft {
    background-color: #F1EFEF;
    width: 2px;
    border-radius: 100px;
    padding: 0;
}

.info-row:hover>.wrapper-borderleft {
    background-color: #771011;
    transition: background-color 0.7s ease;
}

.wrapper-unorder-list {
    column-count: 4;
}

ul.unorder-list-style-disc {
    list-style-type: disc;
}

ul.unorder-list-style-disc li::marker {
    color: #771011;
}

ul.unorder-list {
    list-style-type: none;
    padding-left: 0rem;
}

ul.unorder-list li span {
    color: black !important;
}

.expand-icon {
    cursor: pointer;
}

.expand-icon-roll {
    animation: roll 0.8s forwards;
}

.expand-icon-rollup {
    animation: rollup 0.8s forwards;
}

@keyframes hide {
    from {
        display: block;
    }

    to {
        transform: translateY(-20px);
        opacity: 0;
    }
}

@keyframes hideHeight {
    0% {
        max-height: 1500px;
    }

    100% {
        max-height: 0px;
    }
}

@keyframes show {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }

    to {
        display: block;
        opacity: 1;
    }
}

@keyframes showHeight {
    0% {
        max-height: 0;
    }

    100% {
        max-height: 1500px;
    }
}

.wrapper-project-info {
    max-height: 1500px;
    min-height: 0;
}

.hide-div {
    animation: hide 0.8s forwards, hideHeight 1s forwards;
}

.show-div {
    animation: show 0.8s forwards, showHeight 1s forwards;
}

@keyframes roll {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(90deg);
    }
}

@keyframes rollup {
    0% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(0);
    }
}

@media(max-width: 1200px) {
    h1.index-header-name {
        font-size: 2.5rem;
    }

    h1.index-header {
        font-size: 3.5rem;
    }

    div.index-subheader {
        font-size: 1rem;
    }
}

@media(max-width: 995px) {
    h1.index-header-name {
        font-size: 2rem;
    }

    h1.index-header {
        font-size: 2.5rem;
    }

    div.index-subheader {
        font-size: 0.9rem;
        font-style: normal;
        font-weight: 300;
        line-height: 25px;
    }

    div.index-info {
        font-size: 0.9rem;
        font-style: normal;
        font-weight: 300;
        line-height: 25px;
    }

    .footer-text {
        font-size: 0.9rem;
    }

    .form-label {
        font-size: 0.9rem;
    }

    .index-header-description {
        font-size: 1em;
    }

    .navbar-link {
        font-size: 1em;
        font-weight: 300;
        text-align: end;
    }

    .navbar-nav {
        margin-top: 15px;
    }

    .wrapper-unorder-list {
        column-count: 3;
    }
}

@media(max-width: 450px) {
    h1.index-header-name {
        font-size: 1.3rem;
    }

    h1.index-header {
        font-size: 1.8rem;
    }

    div.index-subheader {
        font-size: 0.6rem;
        font-style: normal;
        font-weight: 300;
        line-height: 20px;
    }

    div.index-info {
        font-size: 0.6rem;
        font-style: normal;
        font-weight: 300;
        line-height: 20px;
    }

    .footer-text {
        font-size: 0.6rem;
    }

    .btn {
        font-size: 1em;
    }

    .brand-image {
        height: 40px;
    }

}

@media(max-width: 768px) {
    /* use if there is image on index page */
}


/* experience page */

.company-name {
    font-size: 1.5em;
}

.download-cv {
    background-color: #771011;
    color: #f2f2f2
}

.download-cv:hover {
    background-color: #771011d6;
    color: #f2f2f2;
}

.download-cv:active {
    border: 1px solid #771011 !important;
}

/* contact page */

.submit-btn {
    background-color: #771011;
    color: #f2f2f2
}

.submit-btn:hover {
    background-color: #771011d6;
    color: #f2f2f2;
}

.submit-btn:active {
    border: 1px solid #771011 !important;
}

.mt-6,
.my-6 {
    margin-top: 4rem !important;
}

.mr-6,
.mx-6 {
    margin-right: 4rem !important;
}

.mb-6,
.my-6 {
    margin-bottom: 4rem !important;
}

.ml-6,
.mx-6 {
    margin-left: 4rem !important;
}