
<div class="container-fluid mb-md-3 mb-2">
    <div class="row justify-content-evenly align-items-center">
        <div class="col-6 px-0 company-name fw-semibold">SkipTheDishes</div>
        <small class="col-6 px-0 text-end red-color">May 2023 - present</small>
    </div>

    <!-- <div class="row index-info mb-2">
        Some description
    </div> -->

    <div class="row pb-3 mt-2">
        <ul>
            <li class="px-0">Senior Software Engineer</li>
            <small class="text-muted">May 2024 - present</small>
        </ul>
        
        <div class="row info-row">
            <div class="wrapper-borderleft me-3 experience-borderleft-hover"></div>
            <div class="col py-2">
                <div>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio saepe ut ea ratione, ab deserunt praesentium ducimus quo facere, minima magnam unde consequuntur. Iste cum libero obcaecati nemo, eligendi temporibus.
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <ul>
            <li class="px-0">Software Engineer</li>
            <small class="px-0 text-muted">May 2023 - May 2024</small>
        </ul>
        
        <div class="row info-row">
            <div class="wrapper-borderleft me-3 experience-borderleft-hover"></div>
            <div class="col pb-2">
                <div>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio saepe ut ea ratione, ab deserunt praesentium ducimus quo facere, minima magnam unde consequuntur. Iste cum libero obcaecati nemo, eligendi temporibus.
                </div>
            </div>
        </div>
    </div>
</div>



<!-- 
<div class="wrapper-info pe-3 mb-md-4 mb-3">
    <div class="index-header-info mb-md-3 mb-2">
        Project Impact
    </div>
    <div class="index-info">
        <ul class="unorder-list-style-disc">
            <li class="professional-experience">
                <span>Test</span>
        </ul>
    </div>
</div>

<div class="wrapper-info pe-3 mb-md-4 mb-3">
    <div class="index-header-info mb-md-3 mb-2">
        Responsibilities
    </div>
    <div class="index-info">
        <ul class="unorder-list-style-disc">
            <li class="professional-experience"><span>Test</span></li>
        </ul>
    </div>
</div> -->