
<div class="container-fluid mb-md-3 mb-2">
    <div class="row justify-content-evenly align-items-center">
        <div class="col-6 px-0 company-name fw-semibold">True Engineering</div>
        <small class="col-6 px-0 text-end red-color">Aug 2018 - June 2022</small>
    </div>

    <!-- <div class="row index-info mb-2">
        In True Enginnering I've contributed to various web application projects across differnet industries, including insurance, merchandising, and airlines. 
        My roles have involved managing both backend and frontend development, as well as ensuring software quality and performance through mentoring and leadership.
    </div> -->

    <div class="row pb-3 mt-2">
        <ul>
            <li class="px-0">Senior Software Engineer</li>
            <small class="text-muted">Nov 2020 - Jun 2022</small>
        </ul>

        <div class="row info-row index-info">
            <div class="wrapper-borderleft me-3 experience-borderleft-hover"></div>
            <div class="col py-2">
                    <ul class="unorder-list-experience">
                        <li>
                            Led the development of a high-load enterprise web application for one of the largest private airlines with over 80 000 transactions per day;
                        </li>
                        <li>
                            Improved report generation speed for two reports, archiving a 34% improvement by implementing elasticache aggregation, and 60% improvement by developing a dedicated microservice;
                        </li>
                        <li>
                            Implemented project and infrastructure documentation, that improved team productivity and reduced the time required for onboarding new hires;
                        </li>
                        <li>
                            Reduced developer involvement in resolving client issues by 50% through the development of a user interface that displays corporate client balance changes;
                        </li>
                        <li>
                            Created 5 new microservices for getting, processing data and generation report;
                        </li>
                        <li>
                            Mentored two Junior Java Developers.
                        </li>
                    </ul>
            </div>
        </div>
    </div>

    <div class="row pb-3">
        <ul>
            <li class="px-0">Software Engineer</li>
            <small class="text-muted">Sep 2019 - Nov 2020</small>
        </ul>

        <div class="row info-row index-info">
            <div class="wrapper-borderleft me-3 experience-borderleft-hover"></div>
            <div class="col py-2">
                    <ul class="unorder-list-experience">
                        <li>
                            Developed a front-end Angular application from scratch for role-based access control management;
                        </li>
                        <li>
                            Developed Spring Boot application from scratch for property insurance calculation;
                        </li>
                        <li>
                            Resolved client issues and developed new features, starting from gathering requirements and creating user stories, to leading the release and test processes;
                        </li>
                        <li>
                            Processed data from various sources using technologies Kafka, SOAP, SMTP, SMB, and FTP.
                        </li>
                    </ul>
            </div>
        </div>
    </div>

    <div class="row pb-3">
        <ul>
            <li class="px-0">Junior Software Engineer</li>
            <small class="text-muted">Aug 2018 - Sep 2019</small>
        </ul>

        <div class="row info-row index-info">
            <div class="wrapper-borderleft me-3 experience-borderleft-hover"></div>
            <div class="col py-2">
                    <ul class="unorder-list-experience">
                        <li>
                            Archived a test coverage of 100% for all services and controllers;
                        </li>
                        <li>
                            Contributed to the successful delivery of two projects, working closely with cross-functional team to ensure timely completion within budget constraints.
                        </li>
                    </ul>
            </div>
        </div>
    </div>
</div>